.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: $gray-700;
    vertical-align: text-top;
}

.social-media-list {
  li + li {
    padding-top: 5px;
  }
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
  padding: 0;
}
